#exit_btn {
    -fx-cursor: HAND;
}

.fill_btn {
    -fx-background-radius: 12px;
    -fx-background-color: #0d74ca;
    -fx-text-fill: #ffffff;
    -fx-cursor: HAND;
}

.border_btn {
    -fx-border-radius: 12px;
    -fx-border-color: #0d74ca;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: #0d74ca;
    -fx-cursor: HAND;
}

.date_picker {
    -fx-background-color: #f3f4fa;
    -fx-border-color: transparent;
    -fx-background-radius: 12px;
}

.date_picker > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
    -fx-cursor: HAND;
}

.date_picker .left-button:hover,
.date_picker .right-button:hover {
    -fx-background-color: transparent;
}

.date_picker .left-button:focused,
.date_picker .right-button:focused {
    -fx-background-color: transparent;
}

.date_picker .date-picker-popup .spinner .button .left-arrow,
.date_picker .date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #4f4f51;
}

.date_picker .date-picker-popup .spinner .button .left-arrow:hover,
.date_picker .date-picker-popup .spinner .button .right-arrow:hover {
    -fx-background-color: black;
}

.date_picker .arrow {
    -fx-background-color: #4f4f51;
}

.date_picker .date-picker-popup {
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}

.date_picker .date-picker-popup .month-year-pane {
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-background-color: #d3d8db;
}

.date_picker .date-picker-popup .month-year-pane .label {
    -fx-text-fill: #4f4f51;
    -fx-border-color: transparent;
}

.date_picker .date-picker-popup .calendar-grid {
    -fx-background-color: white;
    -fx-background-radius: 0px 0px 10px 10px;
}

.date_picker .day-cell.next-month,
.date_picker .day-cell.previous-month {
    -fx-text-fill: #97979c;
}

.date_picker .day-cell {
    -fx-text-fill: #4f4f51;
}

.date_picker .day-cell.today {
    -fx-text-fill: #f80759;
}

.date_picker .day-cell.selected {
    -fx-text-fill: white;
}

.date_picker .cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.date_picker .day-cell:hover {
    -fx-border-color: #f80759;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
}

.date_picker .date-cell.selected {
    -fx-background-color: #f80759;
    -fx-background-radius: 8px;
    -fx-text-fill: #ffffff;
}

.date_picker > .arrow-button:hover {
    -fx-background-color: #d3d8db;
}

.date_picker > .text-field {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
}

.text_field {
    -fx-font-size: 16px;
    -fx-background-color: #f3f4fa;
    -fx-border-color: transparent;
    -fx-background-radius: 12px;
    -fx-text-fill: #4f4f51;
}
